<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <h2 class="text-light primary py-3">Student CRUD Operation</h2>

        <div class="d-flex">
            <button class="btn btn-success" (click)="add()" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Student</button>&nbsp;
            <button routerLink="/login" class="btn btn-warning">Logout</button>
            
        </div>
    </div>
</nav>


<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">S.Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Mobile No</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allstudentdata">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.city}}</td>
            <td>
                <button class="btn btn-info" (click)="edit(data)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="deletestud(data)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div style="background-color:rgb(0, 165, 157)" class="modal-header">
          <h5 style="color: aliceblue; font-size: 26px; margin-left: 62px; font-weight: 620;" class="modal-title" id="exampleModalLabel">Student CRUD</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="formvalue">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="name" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                <small *ngIf="formvalue.get('name')?.invalid&&formvalue.get('name')?.touched" class="text-danger">Name is required!</small>
            </div>
            <br>

            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                <small *ngIf="formvalue.get('email')?.invalid&&formvalue.get('email')?.touched" class="text-danger">Email is required!</small>
            </div>
            <br>

            <div class="form-group">
                <label for="exampleInputEmail1">Mobile</label>
                <input type="tel" formControlName="mobile" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter mobile no" maxlength="10">
                <small *ngIf="formvalue.get('mobile')?.invalid&&formvalue.get('mobile')?.touched" class="text-danger">Mobile No is required!</small>
            </div>
            <br>

            <div class="form-group">
                <label for="exampleInputEmail1">City</label>
                <input type="text" formControlName="city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city name">
                <small *ngIf="formvalue.get('city')?.invalid&&formvalue.get('city')?.touched" class="text-danger">City name is required!</small>
            </div>
          </form>
        </div>
        <div style="background-color:rgb(0, 165, 157)" class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          <button *ngIf="showadd" type="button" (click)="addstudent()" [disabled]="formvalue.invalid" class="btn btn-success">Add</button>
          <button *ngIf="showupdate" type="button" (click)="update()" [disabled]="formvalue.invalid" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>